#graph {
    height: 80%;
}

#controls {
    float: left;
    height: 20%;
    width: 100%;
}

.leftColumn {
    float: left;
    width: 40%;
    height: 100%;
    overflow-y: scroll;
}
.rightColumn {
    float: right;
    width: 60%;
    height: 100%;
}

#hist {
    width: 90%;
    height: 100%;
    float: right;
    clear: right;
}

.link-value-box {
    height: 100%;
    float: left;
    clear: left;
    padding: 10px;
}

.hist-graph {
    fill: blue;
}

.hist-brush .extent {
    fill-opacity: 0.125;
}

.hist-axis path {
    fill: none;
    stroke: black;
}

.hist-axis .tick {
    stroke: black;
}

#info {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #ccc;
    background: rgba(0,0,0,0.5);
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 8px 8px;
    border-radius: 8px 8px;
}

.langButton .ui-button-text {
    padding: 0px;
}

.langButton {
    font-family: inherit;
    font-weight: inherit;
    font-size: 100%;
    padding: 5px;
    background-color: #bbb;
}

circle.node {
    fill: #f55;
    stroke: #fff;
    stroke-width: 1.5px;
}

line.link {
    stroke: #999;
    stroke-opacity: .6;
}

div#pop-up {
    display: none;
    position:absolute;
    color: white;
    font-size: 14px;
    background: rgba(0,0,0,0.5);
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 8px 8px;
    border-radius: 8px 8px;
}
div#pop-up-title {
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: bolder;
}
div#pop-up-content {
    font-size: 12px;
}

#waiting {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
    background: rgba(5,5,5,0.5);
    z-index: 100;
}